
.slider-item{
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    margin: 10px;
}
.review-avatar{
    width:20%;
    height: auto;
    display: inline-block;
    margin-left: 5%;
    /* margin-top: 10px; */
    align-items: center;
}
.review-name{
    display: inline-block;
    margin-left: 5%;
    /* margin-top: 10px; */
    align-items: center;
}
.review-info{
    /* display: inline-block; */
    margin-left: 5%;
    /* margin-top: 10px; */
    /* align-items: center; */
}
.review-text{
    word-wrap: break-word;
    margin-left: 5%;
    margin-right: 5%;
}
.review-rating{
    width: 100%;
    color: gold;
    margin-left: 20%;
    margin-top: 0;
    font-size: x-large;
}
.review-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-author{
    display: flex;
    justify-content: start;
    align-items: center;
}
.review-logo{
    width: 10vw;
    display: inline;
    margin-left:20px;
}
@media only screen and (max-width: 600px) {
    .review-logo{
        width: 20%;
    }
}